/.vscode
/Grabaciones Bandoneon
/Grabaciones.zip
Dataframe_Muestras_Bandoneon.pkl
Boke.wav
Dataframe_Muestras_Bandoneon_Compensadas.pkl
Dataframe_Muestras_Bandoneon_Originales.pkl
Grabaciones Bandoneon Compensadas/A4_69_4hPa_Tapa Izquierda_Abriendo_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-40.wav
Grabaciones Bandoneon Compensadas/B2_47_4hPa_Tapa Izquierda_Abriendo_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-32.wav
Grabaciones Bandoneon Compensadas/B2_47_4hPa_Tapa Izquierda_Cerrando_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-55.wav
Grabaciones Bandoneon Compensadas/C5_72_4hPa_Tapa Derecha_Abriendo_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-31.wav
Grabaciones Bandoneon Compensadas/C5_72_4hPa_Tapa Derecha_Cerrando_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-43.wav
Grabaciones Bandoneon Compensadas/C6_84_4hPa_Tapa Derecha_Abriendo_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-35.wav
Grabaciones Bandoneon Compensadas/C6_84_4hPa_Tapa Derecha_Cerrando_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-47.wav
Grabaciones Bandoneon Compensadas/D4_62_4hPa_Tapa Derecha_Abriendo_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-19.wav
Grabaciones Bandoneon Compensadas/D4_62_4hPa_Tapa Derecha_Cerrando_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-38.wav
Grabaciones Bandoneon Compensadas/E2_40_4hPa_Tapa Izquierda_Cerrando_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-52.wav
Grabaciones Bandoneon Compensadas/E4_64_4hPa_Tapa Izquierda_Abriendo_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-37.wav
Grabaciones Bandoneon Compensadas/E4_64_4hPa_Tapa Izquierda_Cerrando_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_17-0.wav
Grabaciones Bandoneon Compensadas/F2_41_4hPa_Tapa Izquierda_Abriendo_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-28.wav
Grabaciones Bandoneon Compensadas/F4_65_4hPa_Tapa Derecha_Cerrando_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-41.wav
Grabaciones Bandoneon Compensadas/G#4_68_4hPa_Tapa Derecha_Abriendo_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-28.wav
Grabaciones Bandoneon Compensadas/G#4_68_4hPa_Tapa Izquierda_Cerrando_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_17-2.wav
Grabaciones Bandoneon Compensadas/G3_55_4hPa_Tapa Izquierda_Abriendo_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-34.wav
Grabaciones Bandoneon Compensadas/G3_55_4hPa_Tapa Izquierda_Cerrando_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-57.wav
Grabaciones Bandoneon Compensadas/G5_79_4hPa_Tapa Derecha_Abriendo_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-33.wav
Grabaciones Bandoneon Compensadas/G5_79_4hPa_Tapa Derecha_Cerrando_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-45.wav
Grabaciones Bandoneon Originales/A4_69_4hPa_Tapa Izquierda_Abriendo_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-40.wav
Grabaciones Bandoneon Originales/B2_47_4hPa_Tapa Izquierda_Abriendo_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-32.wav
Grabaciones Bandoneon Originales/B2_47_4hPa_Tapa Izquierda_Cerrando_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-55.wav
Grabaciones Bandoneon Originales/C5_72_4hPa_Tapa Derecha_Abriendo_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-31.wav
Grabaciones Bandoneon Originales/C5_72_4hPa_Tapa Derecha_Cerrando_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-43.wav
Grabaciones Bandoneon Originales/C6_84_4hPa_Tapa Derecha_Abriendo_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-35.wav
Grabaciones Bandoneon Originales/C6_84_4hPa_Tapa Derecha_Cerrando_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-47.wav
Grabaciones Bandoneon Originales/D4_62_4hPa_Tapa Derecha_Abriendo_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-19.wav
Grabaciones Bandoneon Originales/D4_62_4hPa_Tapa Derecha_Cerrando_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-38.wav
Grabaciones Bandoneon Originales/E4_64_4hPa_Tapa Izquierda_Abriendo_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-37.wav
Grabaciones Bandoneon Originales/E4_64_4hPa_Tapa Izquierda_Cerrando_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_17-0.wav
Grabaciones Bandoneon Originales/F2_41_4hPa_Tapa Izquierda_Abriendo_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-28.wav
Grabaciones Bandoneon Originales/F4_65_4hPa_Tapa Derecha_Cerrando_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-41.wav
Grabaciones Bandoneon Originales/G#4_68_4hPa_Tapa Derecha_Abriendo_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-28.wav
Grabaciones Bandoneon Originales/G#4_68_4hPa_Tapa Izquierda_Cerrando_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_17-2.wav
Grabaciones Bandoneon Originales/G3_55_4hPa_Tapa Izquierda_Abriendo_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-34.wav
Grabaciones Bandoneon Originales/G3_55_4hPa_Tapa Izquierda_Cerrando_Uhlig_Apuntado mic 1_Laboratorio LAPSo_2023-10-12_16-57.wav
Grabaciones Bandoneon Originales/G5_79_4hPa_Tapa Derecha_Abriendo_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-33.wav
Grabaciones Bandoneon Originales/G5_79_4hPa_Tapa Derecha_Cerrando_Uhlig_Apuntado mic 3_Laboratorio LAPSo_2023-10-12_18-45.wav
